html {
    scroll-behavior: smooth;
}

#messagesPlace {
   margin-left:30%;
   width: 70%;

}

#sectionDiv {
    max-width:90%;
}

#conversationSpeaker{
    max-height: 100%;
    word-wrap: break-word;

    vertical-align: middle;

}

a {
    pointer-events: auto;
}
.dropdown:hover{
    cursor: pointer;
}

#hrNav {
margin-left:0;
margin-right: 0;
}

#newMessages {
    max-width: 200px;
    cursor:n-resize;

}

body {
    overflow-x:hidden;
}

#file::-webkit-file-upload-button {
    display: none;
}


#file-input {
    display: none;
}

#file-input-label {
    font-size:1.5rem;
    padding:10px 15px;
    border: 1px solid black;
    border-radius: 5%;
}
#color {
    color: rgba(70, 121, 78, 0.354);
}

@media only screen and (max-width:600px) {
#navId {
    display: none;
}


#hiddenComputers {
    display: block;
}

#messagesPlace {
    margin-left:0%;
}

#groupInput {
    margin-left:0%;
}

#file-input{
    margin-left:0%;
}

#hiddenComputers1 {
    display:block;
}


}


#hiddenComputers1 {
    display: none;
}
button {
    content: " ";
    position:absolute;
}

#User {
    white-space: nowrap;
}
